

#font{
  font-family: "AbeeZee" !important;
  position: relative;
  margin-right: 4.0vh;
}

ion-label{
  font-family: "AbeeZee" !important;
  position: relative;
}

p{
  font-family: "AbeeZee" !important;
  margin-right: 3vh;
}
